@import 'react-date-range/dist/styles.css';
@import 'react-date-range/dist/theme/default.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    * {
        font-family: "Inter", sans-serif !important;
        @apply font-inter outline-none focus:outline-none;
    }

    table {
        @apply align-top text-left min-w-full overflow-auto border-collapse divide-y table-fixed max-w-none clear-both;
    }

    tbody tr {
        @apply hover:bg-gray-50 duration-500 table-row cursor-pointer
    }

    tbody {
        @apply divide-y
    }

    th, td {
        @apply p-3 text-sm text-[#6B7280] table-cell align-middle
    }

    th:first-child, td:first-child{
        @apply pl-5
    }

    th:last-child, td:last-child{
        @apply pr-5
    }

    th {
        @apply font-medium
    }

}

@layer components {
    .btn {
        @apply py-2 px-4 rounded-xl relative space-x-2 inline-flex justify-center transition-all duration-150  gap-1 items-center active:scale-95  text-sm
    }

    .btn-primary {
        @apply bg-primary rounded-[6px] overflow-hidden text-white ring-2 ring-primary shadow-md shadow-primary-200  hover:shadow-none
    }

    .btn-light {
        @apply bg-white overflow-hidden rounded-md font-semibold ring-2 ring-[#E5E7EB] bg-gradient-to-b from-[#03071200] to-[#03071208]
    }

    .btn-primary::before {
        content: '';
        @apply bg-white absolute top-0 left-0 right-0 bottom-[50%] bg-opacity-10
    }

    .btn-secondary {
        @apply bg-secondary overflow-hidden text-white ring-2 ring-secondary shadow-lg shadow-secondary  hover:shadow-none
    }

    .btn-warning {
        @apply bg-orange-500 overflow-hidden text-white ring-2 ring-orange-600 rounded-md shadow-inner shadow-white/50 hover:shadow-white/30 
    }

    .btn-danger {
        @apply bg-red-600 overflow-hidden text-white ring-2 ring-red-700 rounded-md shadow-inner shadow-white/50 hover:shadow-white/30
    }

    .btn-secondary::before {
        content: '';
        @apply bg-white absolute top-0 left-0 right-0 bottom-[50%] bg-opacity-10
    }

    .btn-white {
        @apply bg-white text-black
    }

    .btn-square {
        @apply shrink-0
    }

    .form-control{
        @apply w-full rounded-lg focus:border-0 border-gray-200 focus:ring-1 focus:ring-primary shadow-sm shadow-black/5 text-sm;
    }

    .form-label{
        @apply leading-loose text-sm md:text-base
    }

    .card {
        @apply p-4 rounded-lg bg-white border-2 border-gray-200
    }

    .shadow-main{
        box-shadow: 0px 14.05px 39.82px 0px rgba(33, 33, 38, 0.1);
        box-shadow: 0px 2.34px 3.51px 0px rgba(33, 33, 38, 0.08);
        box-shadow: 0px 0px 0px 0.59px rgba(19, 19, 22, 0.05);
        box-shadow: 0px 0.59px 0.59px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 5.86px 18.74px 0px rgba(33, 33, 38, 0.15);
    }

    .shadow-switch {
        box-shadow: 0px 2px 4px 0px #0307120A;
        box-shadow: 0px 0px 8px 0px #03071205 inset;
        box-shadow: 0px 0px 0px 0.5px #0307120F inset;
        box-shadow: 0px 2px 4px 0px #0307120A inset;
        box-shadow: 0px 1px 1px 0px #0307120A inset;
    }
}
